
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Contact</h1>

<f:flashMessages />

<table  class="tx_vfvcannuairevfvc" >
	<tr>
		<th style="padding: 10px;"><f:translate key="tx_vfvcannuairevfvc_domain_model_contact.nom" /></th>
		<th style="padding: 10px;"><f:translate key="tx_vfvcannuairevfvc_domain_model_contact.prenom" /></th>
		<th style="padding: 10px;"><f:translate key="tx_vfvcannuairevfvc_domain_model_contact.ville" /></th>
		<th style="padding: 10px;"><f:translate key="tx_vfvcannuairevfvc_domain_model_contact.photo" /></th>
	</tr>

	<f:for each="{contacts}" as="contact">
		<tr>
			<td style="padding: 10px;"><f:link.action action="show" arguments="{contact : contact}"> {contact.nom}</f:link.action></td>
			<td style="padding: 10px;"><f:link.action action="show" arguments="{contact : contact}"> {contact.prenom}</f:link.action></td>
			<td style="padding: 10px;"><f:link.action action="show" arguments="{contact : contact}"> {contact.ville}</f:link.action></td>
			<td style="padding: 10px;"><f:image src="{contact.photo.originalResource.publicUrl}" width="100"/></td>
		</tr>
	</f:for>
</table>
</f:section>