
<table class="tx-vfvc-annuairevfvc" >
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.nom" />
		</td>
		<td style="padding-left: 10px">
		{contact.nom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.prenom" />
		</td>
		<td style="padding-left: 10px">
		{contact.prenom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.telephone" />
		</td>
		<td style="padding-left: 10px">
		{contact.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.email" />
		</td>
		<td style="padding-left: 10px">
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.adresse" />
		</td>
		<td style="padding-left: 10px">
		{contact.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.code_postal" />
		</td>
		<td>
		{contact.codePostal}
		</td style="padding-left: 10px">
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.ville" />
		</td>
		<td>
		{contact.ville}
		</tdstyle="padding-left: 10px">
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.photo" />
		</td>
		<td style="padding-left: 10px">
				<f:image src="{contact.photo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vfvcannuairevfvc_domain_model_contact.presentation" />
		</td>
		<td style="padding-left: 10px">
		{contact.presentation}
		</td>
	</tr>
</table>